[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
setuptools = "*"
pyprojroot = "*"
pathlib = "*"
pandas = "*"
numpy = "*"
requests = "*"
pipdeptree = "*"
capir-transfronteriza2-2023 = {editable = true, path = "."}
minet = "*"
emoji = "*"
tweet-preprocessor = "*"
sentence-transformers = "*"
umap-learn = "*"
hdbscan = "*"
joblib = "==1.1.0"
matplotlib = "*"
plotly = "*"
nbformat = "*"
spacy = "*"
yarl = "*"
bertopic = "*"
nbclient = "*"
wordcloud = "*"

[dev-packages]

[requires]
python_version = "*"
